apiVersion: v1
kind: Service
metadata:
  name: {{ include "chart.fullname" . }}-frontend
  labels:
    app.kubernetes.io/name: {{ include "chart.name" . }}
    app.kubernetes.io/component: frontend
spec:
  type: {{ .Values.frontend.service.type }}
  ports:
  - port: {{ .Values.frontend.service.port }}
    targetPort: http
    protocol: TCP
    name: http
  selector:
    app.kubernetes.io/name: {{ include "chart.name" . }}
    app.kubernetes.io/component: frontend