apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: '{{ include "chart.fullname" . }}'
  labels:
    app.kubernetes.io/name: '{{ include "chart.name" . }}'
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: ''
    http:
      paths:
      - path: /api
        pathType: Prefix
        backend:
          service:
            name: '{{ include "chart.fullname" . }}-backend'
            port:
              name: http
      - path: /
        pathType: Prefix
        backend:
          service:
            name: '{{ include "chart.fullname" . }}-frontend'
            port:
              name: http
